* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}



body {
	background: #ffc;
	text-align: center;
	line-height: 100vh;
	
}

button {
	vertical-align: middle;
	width: 100px;
	height: 400px;
}