* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

* {
  font-size: 20px;
}

input {
  border: solid 2px;
}

.bola {
  background-image: url(./images/bola.jpg);
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-left: 180px;
}

.question {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 180px;
  align-items: center;
  text-align: center;
  width: 100px;
  color: blue;
}

.answer {
  align-items: center;
  text-align: center;
  width: 100px;
}
